.card {
  padding: var(--spacing-box-inner);
  background-color: var(--color-surface);
  border: 1px solid var(--input-border-color);
  border-radius: var(--radius-md);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.item~.item {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed var(--input-border-color);
}

.item .icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  color: var(--icon-color);
}

.item .label {
  padding-left: 4px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-secondary);
}

.item .value {
  flex: 1;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
}

.item .button button{
  width: 30px;
  height: 30px;
}

/* password */
.changePw {
  margin-top: var(--spacing-sm);
}

.changePwBtn {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  padding: 10px var(--spacing-box-inner);
  border: 1px solid var(--input-border-color);
  border-radius: var(--radius-md);
}

.changePwBtn .icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  color: var(--icon-color);
}

.changePwBtn .text {
  flex: 1;
  padding-left: 4px;
  font-size: var(--font-size-sm);
  text-align: left;
  font-weight: 600;
  color: var(--color-secondary);
}

.changePwBtn .iconArrow {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  color: var(--color-icon);
}


/* textButtonWrapper */
.textButtonWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.textButton {
  position: relative;
}

.textButton~.textButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 12px;
  background-color: var(--input-border-color);
  transform: translateY(-50%);
}