
/* layout */
.gridLayout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
}


.gridItemFull{
  grid-column: span 2;
}

.link{
  min-width: 0;
  height: 100%;
}

.link > section{
  height: 100%;
}
