.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--header-bg);
  box-shadow: var(--shadow-sm);
  z-index: var(--z-header);
}

.link {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.logo span:first-child {
  color: var(--color-primary);
}

.logo span:last-child {
  color: var(--color-secondary);
}