
.wrapper{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}


.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  color: var(--color-secondary);
}


.photo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  pointer-events: none;
}

.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
